@import url('https://fonts.googleapis.com/css?family=PT+Sans|Rubik');

body {
  margin: 0;
  background-color: rgba(169, 180, 204, .5);
  font-family: 'Rubik', sans-serif;
  /* font-family: 'PT Sans', sans-serif; */
}

.wrapper {
  display: block;
  margin: 15vh auto 0;
  width: 80vw;
}

h3 {
  color: rgba(47, 58, 82, 0.9);
}

input {
  margin: 0.3em 0 0 0;
  padding: 1em;
  line-height: 1;
  font-size: 1rem;
  border: none;
  background: rgba(124, 119, 119, 0.2);
  display: block;
  width: 100%;
}

.tab {
  display: none;
}

.indicator-wrapper{
  display: flex;
}

.indicator {
  display: none;
  width: 17%;
  height: 3vh;
  background:  rgba(169, 180, 204, 1);
}

#form {
  margin: 0 auto;
}

.next {
  font-size: 2rem;
  background: transparent;
  border: none;
  width: 2em;
  color: rgba(47, 58, 82, 0.9);
}

.prev {
  font-size: 2rem;
  background: transparent;
  border: none;
  width: 2em;
  color: rgba(47, 58, 82, 0.9);
}


.summary h3 {
  font-size: 2.5rem;
}

.summary p {
  font-size: 1.5rem;
}

.submit {
  font-size: 1.2rem;
  font-weight: 200;
  border-radius: 12px;
  background-color: rgba(47, 58, 82, 0.9);
  width: 100px;
  color: white;
}

.thank-you {
  color:  rgba(47, 58, 82, 0.9);
  text-align: center;
  font-family: 'Rubik', sans-serif;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #eee inset;
}

